In [1]:
import math as m
import pandas as pd

In [23]:
def newton(p0, fX, fdX, iterations):
    pn = [p0]               
    fn = [fX(p0)]           

    for i in range(iterations):
        p1 = p0 - (fX(p0) / fdX(p0))  
        pn.append(p1)                
        fn.append(fX(p1))            

        p0 = p1  
        
    fNN = {
        "p_n": pn,
        "f_n": fn
    }
    fNNFrame = pd.DataFrame(fNN)
    return fNNFrame

In [24]:
def fX(x):
    return (-x**3)-m.cos(x)
def fdX(x):
    return (-3*(x**2)+m.sin(x))

In [26]:
frame = newton(-1,fX,fdX,2)
frame

        p_n       f_n
0 -1.000000  0.459698
1 -0.880333  0.045351
2 -0.865684  0.000632

In [27]:
def secant(p0,p1, fX, fdX, iterations):
    pn = [p0,p1]
    fn = [fX(p0),fX(p1)]           

    for i in range(iterations):
        p2 = p1 - (fX(p1) * (p1 - p0)) / (fX(p1) - fX(p0))  
        pn.append(p2)                
        fn.append(fX(p2))           

        p0 = p1
        p1 = p2
        
    fNN = {
        "p_n": pn,
        "f_n": fn
    }
    fNNFrame = pd.DataFrame(fNN)
    return fNNFrame

In [29]:
frame = secant(-1,0,fX,fdX,2)
frame

        p_n       f_n
0 -1.000000  0.459698
1  0.000000 -1.000000
2 -0.685073 -0.452850
3 -1.252076  1.649524

In [30]:
def falsePos(p0,p1, fX, fdX, iterations):
    pn = [p0,p1]
    fn = [fX(p0),fX(p1)]           

    for i in range(iterations):
        p2 = (p0 * fX(p1) - p1 * fX(p0)) / (fX(p1) - fX(p0))
        pn.append(p2)                
        fn.append(fX(p2))           

        p0 = p1
        p1 = p2
        
    fNN = {
        "p_n": pn,
        "f_n": fn
    }
    fNNFrame = pd.DataFrame(fNN)
    return fNNFrame

In [31]:
frame = falsePos(-1,0,fX,fdX,2)
frame

        p_n       f_n
0 -1.000000  0.459698
1  0.000000 -1.000000
2 -0.685073 -0.452850
3 -1.252076  1.649524

In [42]:
def newton(p0, fX, fdX, tol):
    p1 = p0 - (fX(p0) / fdX(p0))
    pn = [p0,p1]               
    fn = [fX(p0),fX(p1)]           

    while abs(p1-p0) >= tol:
        p0 = p1
        p1 = p0 - (fX(p0) / fdX(p0))
        pn.append(p1)                
        fn.append(fX(p1))              
        
    fNN = {
        "p_n": pn,
        "f_n": fn
    }
    fNNFrame = pd.DataFrame(fNN)
    return fNNFrame

In [43]:
def gX(x):
    v=x-1
    return m.log(v)+m.cos(v)
def gdX(x):
    v=x-1
    return (1/v)-m.sin(v)

In [44]:
frame = newtonWithTol(2,gX,gdX,m.pow(10,-5))
frame

ValueError: math domain error